#### Use the ENABLE_SCRIPT=1 to eanble the script to resize. Use ENABLE_SCRIPT=0 to (temporarly) disable resizing. Used for maintainance.
ENABLE_SCRIPT=1

#### Use RUN_SCHEDULED=1 to be used for running as cron_job
RUN_SCHEDULED=1

#### Use SCRIPT_FREQ_MIN to determine how hosten (in minutes) the script will execure. More frequent execution may lead to frequent resizing.
SCRIPT_FREQ_MIN=10

#### EXCLUDE_CLUSTERS is a work in progress.
EXCLUDE_CLUSTERS=(cluster1,cluster2)

#### use ENABLE_MEM_RESIZE=1 to consider memory metrics during resizing. Use ENABLE_MEM_RESIZE=0 to disable memory consideration.
ENABLE_MEM_RESIZE=1

#### Use the below % values to set the high and low average CPU and MEM watermark of worker nodes before resizing kicks in to adjust the load.
MIN_TOTAL_CPU=10
MAX_TOTAL_CPU=60
MAX_TOTAL_MEM=60